<div class="container">
  <div class="row">
    <div class="col-11 mx-auto">

      <h1>welcome to <i class="fa-solid fa-book"></i><strong>Bookers</strong> !!</h1>
      
      <div>
        <p>ln <i class="fa-solid fa-book"></i><strong>bookers,</strong></p>
        <p>you can share exchange your opinions , inpressions , and emotions</p>
        <p>about various books!</p>
      </div>

      <div class="col-10 mx-auto">
        <li>
          <%= link_to 'Log in', new_user_session_path, class: "btn btn-info btn-block mb-3" %>
        </li>
        <li>
          <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-success btn-block" %>
        </li>
      </div>
   </div>
</div>